In [1]:
import pandas as pd
import numpy as np

In [2]:
new =pd.read_csv("project4/diabetes_012_health_indicators_BRFSS2015.csv",dtype=int)

In [3]:
new.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  int32
 1   HighBP                253680 non-null  int32
 2   HighChol              253680 non-null  int32
 3   CholCheck             253680 non-null  int32
 4   BMI                   253680 non-null  int32
 5   Smoker                253680 non-null  int32
 6   Stroke                253680 non-null  int32
 7   HeartDiseaseorAttack  253680 non-null  int32
 8   PhysActivity          253680 non-null  int32
 9   Fruits                253680 non-null  int32
 10  Veggies               253680 non-null  int32
 11  HvyAlcoholConsump     253680 non-null  int32
 12  AnyHealthcare         253680 non-null  int32
 13  NoDocbcCost           253680 non-null  int32
 14  GenHlth               253680 non-null  int32
 15  MentHlth              253680 non-null  int32
 16  PhysHlth              253680 non-null  int32
 17  DiffWalk              253680 non-null  int32
 18  Sex                   253680 non-null  int32
 19  Age                   253680 non-null  int32
 20  Education             253680 non-null  int32
 21  Income                253680 non-null  int32
dtypes: int32(22)
memory usage: 21.3 MB

In [4]:
new.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [5]:
new[['HighBP','HighChol','CholCheck','Smoker','Stroke','HeartDiseaseorAttack','PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','DiffWalk','Sex']] =new[['HighBP','HighChol','CholCheck','Smoker','Stroke','HeartDiseaseorAttack','PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','DiffWalk','Sex']].astype('bool')

In [6]:
new.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  int32
 1   HighBP                253680 non-null  bool
 2   HighChol              253680 non-null  bool
 3   CholCheck             253680 non-null  bool
 4   BMI                   253680 non-null  int32
 5   Smoker                253680 non-null  bool
 6   Stroke                253680 non-null  bool
 7   HeartDiseaseorAttack  253680 non-null  bool
 8   PhysActivity          253680 non-null  bool
 9   Fruits                253680 non-null  bool
 10  Veggies               253680 non-null  bool
 11  HvyAlcoholConsump     253680 non-null  bool
 12  AnyHealthcare         253680 non-null  bool
 13  NoDocbcCost           253680 non-null  bool
 14  GenHlth               253680 non-null  int32
 15  MentHlth              253680 non-null  int32
 16  PhysHlth              253680 non-null  int32
 17  DiffWalk              253680 non-null  bool
 18  Sex                   253680 non-null  bool
 19  Age                   253680 non-null  int32
 20  Education             253680 non-null  int32
 21  Income                253680 non-null  int32
dtypes: bool(14), int32(8)
memory usage: 11.1 MB

In [7]:
new.to_csv("project4_data.csv",index=False)

In [8]:
new["Diabetes_012"].value_counts()

Diabetes_012
0    213703
2     35346
1      4631
Name: count, dtype: int64